.errorlist {
    margin-top: 0;
    list-style: none;
    padding-left: 0;
}

.errorlist li {
    margin-top: 5px;
    color: red;
}

a.navbar-brand img {
    width: 26px !important;
}

.dropdown-menu-custom {
    margin-left: -61px !important;
}